<div class="container my-4">
  <div class="row text-center mb-4">
    <div class="col">
      <h1>Orders overview</h1>
    </div>
  </div>

  <div class="row mb-5">
    <mat-card class="p-4">
      <div class="row mb-3">
        <div class="col">
          <h4>Quotes list</h4>
        </div>
      </div>
      @for (quote of quotes; track $index) {
      <div class="row px-3">
        <div class="col px-3">
          <div class="row">
            <div class="col-auto img-container p-3 me-3">
              <img mat-card-image [src]="quote.image" alt="product image" />
            </div>
            <div class="col">
              <div class="mb-2">
                <mat-chip>{{ quote.status }}</mat-chip>
              </div>

              <h5>
                <b>{{ quote.orderNumber }}</b>
              </h5>

              <h6>
                <small>Updated: 23/08/2024, 2:58PM</small>
              </h6>
            </div>
          </div>
        </div>
        <div class="col px-3">
          <div class="row py-1">
            <div class="col"><small>No. of bids:</small></div>
            <div class="col text-end">
              <small><b>3</b></small>
            </div>
          </div>

          <div class="row py-1">
            <div class="col"><small>Price range (USD$):</small></div>
            <div class="col text-end">
              <small><b>12,089 - 24,670</b></small>
            </div>
          </div>

          <div class="row py-1">
            <div class="col"><small>Lead times (days):</small></div>
            <div class="col text-end">
              <small>><b>12 - 31</b></small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p-timeline [value]="events" align="bottom" layout="horizontal">
              <ng-template pTemplate="content" let-event>
                <small>{{ event.status }}</small>
              </ng-template>
              <ng-template pTemplate="opposite" let-event>
                <small>{{ event.date }}</small>
              </ng-template>
            </p-timeline>
          </div>
        </div>
      </div>

      <mat-divider class="my-4"></mat-divider>
      }
    </mat-card>
  </div>

  <div class="row summary-container mb-5">
    @for (order of orders; track $index) {
    <mat-card class="p-4">
      <div class="row align-items-center">
        <div class="col">
          <mat-chip-set class="mb-3">
            <mat-chip>Bids received</mat-chip>
          </mat-chip-set>
        </div>
      </div>
      <mat-card-title-group>
        <div class="col-4">
          <div class="img-container p-3 me-3">
            <img mat-card-image [src]="order.image" alt="product image" />
          </div>
        </div>
        <div class="col">
          <mat-card-title class="mb-3"><h3>S24-2190</h3></mat-card-title>
          <mat-card-subtitle class="mb-3"
            ><h6>
              <small>Updated: 23/08/2024, 2:58PM</small>
            </h6></mat-card-subtitle
          >
        </div>
      </mat-card-title-group>

      <mat-divider></mat-divider>

      <mat-card-content class="px-0 py-3">
        <div class="row py-1">
          <div class="col"><h6>No. of bids:</h6></div>
          <div class="col text-end">
            <h6><b>3</b></h6>
          </div>
        </div>

        <div class="row py-1">
          <div class="col"><h6>Price range (USD$):</h6></div>
          <div class="col text-end">
            <h6><b>12,089 - 24,670</b></h6>
          </div>
        </div>

        <div class="row py-1">
          <div class="col"><h6>Lead times (days):</h6></div>
          <div class="col text-end">
            <h6><b>12 - 31</b></h6>
          </div>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions class="py-3">
        <p-timeline [value]="events" align="left">
          <ng-template pTemplate="content" let-event>
            <small>{{ event.date }}</small>
          </ng-template>
          <ng-template pTemplate="opposite" let-event>
            <p-chip>{{ event.status }}</p-chip>
          </ng-template>
        </p-timeline>

        <app-view-bids></app-view-bids>
      </mat-card-actions>
    </mat-card>
    }

    <div class="col">
      <mat-card class="p-4">
        <mat-card-title-group>
          <mat-card-title class="mb-3"><h3>S24-2191</h3></mat-card-title>
          <mat-card-subtitle class="mb-3"
            ><h6>
              <small>Updated: 23/08/2024, 2:58PM</small>
            </h6></mat-card-subtitle
          >
          <mat-chip-set class="mb-3">
            <mat-chip>Pending</mat-chip>
          </mat-chip-set>
        </mat-card-title-group>

        <mat-divider></mat-divider>

        <mat-card-content class="px-0 py-3">
          <div class="row py-1">
            <div class="col"><h6>No. of bids:</h6></div>
            <div class="col text-end">
              <h6><b>-</b></h6>
            </div>
          </div>

          <div class="row py-1">
            <div class="col"><h6>Price range (USD$):</h6></div>
            <div class="col text-end">
              <h6><b>-</b></h6>
            </div>
          </div>

          <div class="row py-1">
            <div class="col"><h6>Lead times (days):</h6></div>
            <div class="col text-end">
              <h6><b>-</b></h6>
            </div>
          </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions class="py-3" align="end">
          <button mat-icon-button class="mx-2">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <button
            mat-flat-button
            disabled
            color="primary"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            (onClick)="showDialog()"
          >
            View bids
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <h4>Active orders</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p-table [value]="orders"
        ><ng-template pTemplate="header">
          <tr>
            <th>Order no.</th>
            <th>Item</th>
            <th>Price (USD$)</th>
            <th>Lead time (days)</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>{{ order.orderNumber }}</td>
            <td>
              <span class="img-container p-3 me-3">
                <img mat-card-image [src]="order.image" alt="product image" />
              </span>
              <span>{{ order.item }}</span>
            </td>
            <td>{{ order.price }}</td>
            <td>{{ order.leadTime }}</td>
            <td>
              <p-tag>{{ order.status }}</p-tag>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-card class="p-4">
        <mat-table [dataSource]="dataSource" class="pb-5">
          <!-- Order number Column -->
          <ng-container matColumnDef="orderNumber">
            <mat-header-cell *matHeaderCellDef>Order no.</mat-header-cell>
            <mat-cell class="py-4" *matCellDef="let order">{{
              order.orderNumber
            }}</mat-cell>
          </ng-container>

          <!-- Item Column -->
          <ng-container matColumnDef="item">
            <mat-header-cell *matHeaderCellDef>Item</mat-header-cell>
            <mat-cell class="py-4" *matCellDef="let order"
              ><div class="img-container p-3 me-3">
                <img mat-card-image [src]="order.image" alt="product image" />
              </div>
              <div>{{ order.item }}</div></mat-cell
            >
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Price (USD$)</mat-header-cell>
            <mat-cell class="py-4" *matCellDef="let order"
              >{{ order.price }}
            </mat-cell>
          </ng-container>

          <!-- Lead time Column -->
          <ng-container matColumnDef="leadTime">
            <mat-header-cell *matHeaderCellDef
              >Lead time (days)</mat-header-cell
            >
            <mat-cell class="py-4" *matCellDef="let order"
              >{{ order.leadTime }}
            </mat-cell>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell class="py-4" *matCellDef="let order"
              ><mat-chip-set class="mb-2">
                <mat-chip>{{ order.status }}</mat-chip>
              </mat-chip-set></mat-cell
            >
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell class="py-4" *matCellDef="let order"
              ><button mat-stroked-button color="primary">
                {{ order.action }}
              </button></mat-cell
            >
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-paginator
          #matpaginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of changelogs"
        >
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
