.mat-expansion-panel {
  background-color: white;
}

mat-expansion-panel,
mat-expansion-panel-header,
mat-expansion-panel-body {
  height: fit-content !important;
}

mat-expansion-panel {
  box-shadow: none !important;
  border: solid 1px #e5e5e5;
  border-left: 6px solid #f7941d;
}

mat-form-field {
  width: 100%;
}

.vertical-divider-col {
  width: 5.333333%;
}

.vertical-divider {
  height: 100%;
}
