@for (thread of threads; track $index){
<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header class="p-4">
    <div class="row flex-column">
      <div class="col mb-4">
        <mat-chip id="Unresolved" class="mr-4">{{ thread.status }}</mat-chip>
      </div>
      <div class="col mb-2">
        <mat-panel-title
          ><b>{{ thread.title }}</b></mat-panel-title
        >
      </div>
      <div class="col">
        <mat-panel-description>
          {{ thread.summary }}
        </mat-panel-description>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="row pb-4">
    <div class="col">
      <mat-divider></mat-divider>
    </div>
  </div>

  <div id="root">
    <stream-channel>
      <stream-message-input class="mb-4"></stream-message-input>
      <stream-message-list></stream-message-list>
      <stream-notification-list></stream-notification-list>
      <stream-thread name="thread">
        <stream-message-list mode="thread"></stream-message-list>
        <stream-message-input mode="thread"></stream-message-input>
      </stream-thread>
    </stream-channel>
  </div>

  <div class="row">
    <div class="col">
      <!-- <mat-form-field appearance="outline">
        <mat-label>Add a comment...</mat-label>
        <mat-icon matSuffix>attach_file</mat-icon>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>
      <button mat-stroked-button="primary">Send</button> -->
    </div>
  </div>
</mat-expansion-panel>
}
