@for (thread of threads; track $index) {
<mat-expansion-panel
  [class]="thread.isResolved ? 'mb-4 resolved' : 'mb-4 unresolved'"
>
  <mat-expansion-panel-header class="p-4">
    <div class="row flex-column">
      <div class="col mb-4">
        <mat-chip class="mr-4">{{
          thread.isResolved ? "Resolved" : "Unresolved"
        }}</mat-chip>
      </div>
      <div class="col mb-2">
        <mat-panel-title
          ><b>{{ thread.title }}</b></mat-panel-title
        >
      </div>
      <div class="col">
        <mat-panel-description>
          {{ thread.summary }}
        </mat-panel-description>
      </div>
    </div>
  </mat-expansion-panel-header>

  <div class="row">
    <div class="col">
      <mat-divider class="py-3"></mat-divider>
      <mat-form-field appearance="outline">
        <mat-label>Add a comment...</mat-label>
        <button matSuffix mat-icon-button>
          <mat-icon>attach_file</mat-icon>
        </button>
        <button matSuffix mat-icon-button>
          <mat-icon>send</mat-icon>
        </button>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="3"
        ></textarea>
      </mat-form-field>

      <mat-list>
        @for (comment of thread.comments; track $index){
        <div class="row">
          <div class="col">
            <mat-list-item>
              <span matListItemAvatar></span>
              <span matListItemTitle
                ><b>{{ comment.firstName }} {{ comment.lastName }}</b></span
              >

              <span matListItemMeta class="p-0 m-0">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </span>

              <span matListItemMeta>{{ comment.timestamp }}</span>
            </mat-list-item>
          </div>
        </div>

        <div class="row">
          <div class="col-auto p-0 justify-content-center">
            <mat-divider vertical class="vertical-divider px-4"></mat-divider>
          </div>
          <div class="col mx-4 my-2">
            <p>{{ comment.entry }}</p>
          </div>
        </div>

        }
      </mat-list>
    </div>
  </div>
</mat-expansion-panel>

}
