<mat-card>
  <div class="img-container p-4">
    <img mat-card-image [src]="product.image" alt="product image" />
  </div>
  <div class="p-4">
    <mat-chip-set class="mb-4">
      <mat-chip>2 Unresolved</mat-chip>
      <mat-chip>1 Resolved</mat-chip>
    </mat-chip-set>

    <mat-card-title class="mb-2">
      {{ product.title }}
    </mat-card-title>

    <mat-card-subtitle class="mb-4">
      {{ product.productNumber }}
    </mat-card-subtitle>

    <mat-card-content class="p-0">
      <p>{{ product.description }}</p>
    </mat-card-content>

    <mat-divider class="my-3"></mat-divider>

    <mat-card-actions align="end">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="mx-2">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Reject part</span>
        </button>
      </mat-menu>

      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/view-part', product.id]"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Manage
      </button>
    </mat-card-actions>
  </div>
</mat-card>

<router-outlet></router-outlet>
