<div class="container my-4 p-4">
  @if (selectedProduct) {
  <mat-card appearance="outlined" class="p-4">
    <div class="row mb-4">
      <div class="col">
        <mat-card-title class="mb-2">
          <b>{{ selectedProduct.title }}</b>
        </mat-card-title>
        <mat-card-subtitle>
          {{ selectedProduct.productNumber }}
        </mat-card-subtitle>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-lg-3 col-md-6">
        <div class="img-container p-5">
          <img
            mat-card-image
            [src]="selectedProduct.image"
            alt="product image"
          />
        </div>
      </div>
      <div class="col">
        <p>
          {{ selectedProduct.description }}
        </p>
        <mat-chip-set class="mb-5">
          <mat-chip>Asset</mat-chip>
          <mat-chip>Asset</mat-chip>
          <mat-chip>Asset</mat-chip>
          <mat-chip>Asset</mat-chip>
          <mat-chip> Very long asset name</mat-chip>
        </mat-chip-set>
        <button mat-flat-button color="primary">Request for approval</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-tab-group>
          <mat-tab label="Discussion">
            <div class="row m-4">
              <div class="col p-0">
                <app-discussion-thread
                  [threads]="selectedProduct.threads"
                ></app-discussion-thread>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Part details"
            ><div class="row m-4">
              <div class="col p-0">
                <app-part-details></app-part-details>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Change log">
            <div class="row m-4">
              <div class="col p-0">
                <app-change-log></app-change-log>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card>
  }
</div>
