.mat-mdc-table {
  overflow: auto;
}

.mat-mdc-table,
.mat-mdc-paginator {
  background-color: white !important;
}

.mat-mdc-cell {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mat-mdc-header-cell {
  font-weight: bold;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  min-width: 100px;
}

.mat-column-timestamp,
.mat-column-username,
.mat-column-action {
  flex: 1;
}

.mat-column-section {
  flex: 0 0 20%;
}

.mat-column-previous,
.mat-column-new {
  flex: 0 0 25%;
}
