mat-table {
  overflow: auto;
}

mat-table,
mat-paginator {
  background-color: white !important;
}

mat-header-cell {
  font-weight: bold;
}

mat-header-cell,
mat-cell {
  min-width: 100px;
}

.mat-column-timestamp,
.mat-column-username,
.mat-column-action {
  flex: 1;
}

.mat-column-section {
  flex: 0 0 20%;
}

.mat-column-previous,
.mat-column-new {
  flex: 0 0 25%;
}
