.map-container {
  width: 100%;
  height: 400px;
  text-align: center;
}

mat-card,
mat-card:hover,
mat-table,
mat-paginator {
  background-color: white;
}

mat-card-title {
  font-weight: bold;
}

mat-chip-option {
  width: 100%;
  height: 100%;
}
