<!-- Part details -->
<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header class="p-4">
    <div class="row">
      <div class="col">
        <mat-panel-title><b>Part details</b></mat-panel-title>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col">
      <mat-divider class="py-3"></mat-divider>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h6><b>material: </b> XX</h6>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h6><b>Additional material description:</b></h6>
      <p>
        Lorem ipsum dolor sit amet consectetur. Egestas tincidunt risus et
        condimentum eu molestie ipsum pharetra. Eu placerat ut rutrum tristique
        vulputate mattis ipsum. Pellentesque est viverra purus nulla praesent
        quam eget.
      </p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h6><b>Length (mm):</b> XX</h6>
    </div>

    <div class="col">
      <h6><b>Net weight (g):</b> XX</h6>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h6><b>Width (mm):</b> XX</h6>
    </div>

    <div class="col">
      <h6><b>Net volume (mm<sup>3</sup>):</b> XX</h6>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h6><b>Height (mm):</b> XX</h6>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h6><b>File uploads: </b></h6>
      <mat-chip-set aria-label="File uploads">
        <mat-chip>
          <mat-icon matChipAvatar>cloud_download</mat-icon>
          Upload-1.png
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>cloud_download</mat-icon>
          Upload-1.png
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>cloud_download</mat-icon>
          Upload-1.png
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>cloud_download</mat-icon>
          Upload-1.png
        </mat-chip>
      </mat-chip-set>
    </div>
  </div>
</mat-expansion-panel>

<!-- Operating conditions -->
<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header class="p-4">
    <div class="row">
      <div class="col">
        <mat-panel-title><b>Operating conditions</b></mat-panel-title>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col">
      <mat-divider class="py-3"></mat-divider>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h6><b>High temperature:</b></h6>
      <p>
        Lorem ipsum dolor sit amet consectetur. Egestas tincidunt risus et
        condimentum eu molestie ipsum pharetra. Eu placerat ut rutrum tristique
        vulputate mattis ipsum. Pellentesque est viverra purus nulla praesent
        quam eget.
      </p>
    </div>
  </div>
</mat-expansion-panel>

<!-- Manufacturing -->
<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header class="p-4">
    <div class="row">
      <div class="col">
        <mat-panel-title><b>Manufacturing</b></mat-panel-title>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col">
      <mat-divider class="py-3"></mat-divider>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h6><b>Preferred technique: </b> XX</h6>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h6><b>Any specifications:</b></h6>
      <p>
        Lorem ipsum dolor sit amet consectetur. Egestas tincidunt risus et
        condimentum eu molestie ipsum pharetra. Eu placerat ut rutrum tristique
        vulputate mattis ipsum. Pellentesque est viverra purus nulla praesent
        quam eget.
      </p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-auto">
      <h6><b>Open to material change?:</b> XX</h6>
    </div>

    <div class="col-auto">
      <h6><b>Able to swap between polymer and metals?:</b> XX</h6>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h6><b>Heat treatment:</b></h6>
      <p>
        Lorem ipsum dolor sit amet consectetur. Egestas tincidunt risus et
        condimentum eu molestie ipsum pharetra. Eu placerat ut rutrum tristique
        vulputate mattis ipsum. Pellentesque est viverra purus nulla praesent
        quam eget.
      </p>
    </div>
  </div>
</mat-expansion-panel>

<!-- Inspection & testing -->
<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header class="p-4">
    <div class="row">
      <div class="col">
        <mat-panel-title><b>Inspection & testing</b></mat-panel-title>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col">
      <mat-divider class="py-3"></mat-divider>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-auto">
      <h6><b>Required certification:</b> XX</h6>
    </div>

    <div class="col-auto">
      <h6><b>Preferred class:</b> XX</h6>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h6><b>Dimensional - Tolerance:</b></h6>
      <p>
        Lorem ipsum dolor sit amet consectetur. Egestas tincidunt risus et
        condimentum eu molestie ipsum pharetra. Eu placerat ut rutrum tristique
        vulputate mattis ipsum. Pellentesque est viverra purus nulla praesent
        quam eget.
      </p>
    </div>
    <mat-chip-set aria-label="Attachments">
      <mat-chip>
        <mat-icon matChipAvatar>cloud_download</mat-icon>
        Attachment.doc
      </mat-chip>
      <mat-chip>
        <mat-icon matChipAvatar>cloud_download</mat-icon>
        Attachment.doc
      </mat-chip>
    </mat-chip-set>
  </div>
</mat-expansion-panel>
