mat-expansion-panel {
  background-color: white;
}

mat-expansion-panel,
mat-expansion-panel-header,
mat-expansion-panel-body {
  height: fit-content !important;
}

mat-expansion-panel {
  box-shadow: none !important;
  border: solid 1px #e5e5e5;
}
