<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header class="p-4">
    <div class="row">
      <div class="col">
        <mat-panel-title><b>Part details</b></mat-panel-title>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col">
      <mat-divider class="py-3"></mat-divider>
    </div>
  </div>
</mat-expansion-panel>

<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header class="p-4">
    <div class="row">
      <div class="col">
        <mat-panel-title><b>Operating conditions</b></mat-panel-title>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col">
      <mat-divider class="py-3"></mat-divider>
    </div>
  </div>
</mat-expansion-panel>

<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header class="p-4">
    <div class="row">
      <div class="col">
        <mat-panel-title><b>Manufacturing</b></mat-panel-title>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col">
      <mat-divider class="py-3"></mat-divider>
    </div>
  </div>
</mat-expansion-panel>

<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header class="p-4">
    <div class="row">
      <div class="col">
        <mat-panel-title><b>Inspection & testing</b></mat-panel-title>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col">
      <mat-divider class="py-3"></mat-divider>
    </div>
  </div>
</mat-expansion-panel>
